
# Groq/OpenAI-compatible endpoint
GROQ_API_KEY=replace_me

# LangSmith/LC
LANGCHAIN_TRACING=true
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=replace_me
LANGCHAIN_PROJECT="Event Processing"
LS_ISSUE_PROJECT="Event Validating"
LS_BASE_QUEUE="LLM response relevance" 

# Billing TS API configuration
BILL_TS_API_URL="https://apistaging.reservatech.net/"
BILL_TS_API_KEY="replace_me"

# Qdrant configuration
QDRANT_URL="https://f6d14f40-6df5-4eec-a3be-e6c4a6578374.us-east-1-1.aws.cloud.qdrant.io:6333"
QDRANT_API_KEY="replace_me"